<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/public/css/adminchatroom.css">
  <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
  <title>チャットルーム管理</title>
</head>
<body>
  <header class="header">
    <div id="logout"><a href="http://172.26.0.2/admin/logout">ログアウト</a></div><a href="http://172.26.0.2/admin/main">メイン管理画面に戻る</a><br><a href="http://172.26.0.2/admin/chatrooms">ルーム一覧に戻る</a>
      <form class="delete" action="" method="post" onsubmit="return deleteChtrmFunc()">
      <input type="submit" value="このルームを削除する" id="delete-room" name="delete-room">
      </form>
      <div id="roomname-header"></div>
    </div>
  </header>
  <div class="wrapper">
    <div class="chat-space">
      <ul id="chats">
      </ul>
    </div>
    <iframe name="sendPhoto" style="width:0px;height:0px;border:0px;"></iframe>
  </div>
  <!-- <script type="module" src="/public/scripts/adminchatroom.js"></script> -->
  <script type="module" src="/public/scripts/bundle.js"></script>
</body>
</html>

