<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/public/css/adminlogin.css">
  <title>管理者ログイン</title>
</head>
<body>
  <div class="container">
    <p id="disctription">管理ページ</p>
    <form class="login-form" action="" method="POST" id="loginform">
      <p id="userId"><input type="text" id="inputedUserId" name="userId" placeholder="管理者ID"></p>
      <p id="password"><input type="password" id="inputedPassword" name="password" placeholder="管理者パスワード"></p>
      <p><input type="button" value="ログイン" id="login" name="login"></p>
    </form>
  </div>
  <script type="text/javascript" src="/public/scripts/adminlogin.js"></script>
</body>
</html>