<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/public/css/cssforchatroom.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>マイページ</title>
</head>
<body>
  <p class="back-to-mypage"><a href="/mypage">マイページに戻る</a></p>
  <form class="delete" action="" method="post">
    <p><input type="submit" value="このルームを削除する" name="delete-room"></p>
  </form>
  
  <div class="chat-space">
  <h2>投稿一覧</h2>
  <form class="new-post" action="" name="chatform" method="POST" target="sendPhoto">
    <p><input type="text" id="chat" name="chat" placeholder="新規投稿(英数字、255文字以内)"></p>
    <p><button onclick="send();" id="chat">メッセージを送る</button></p>
  </form>
  <ul id="chats">
  </ul>
  </div>
  <iframe name="sendPhoto" style="width:0px;height:0px;border:0px;"></iframe>

  <script type="text/javascript" src="/public/scripts/scriptforchatroom.js">
  </script>
</body>
</html>

