html, body {
  background-color:#FFFFFF;
  height: 90%;
  margin: 0;
}

body {
  background-color:#FFFFFF;
  height: 90%;
  margin: 0;
}

.header {
  background-color:#FFFFFF;
  border: 2px solid;
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;
  border-color: #757575;
  height: 160px;
  position: fixed;
  width: 100%;
}

form.delete {
  margin-top:15px;
  margin-right:15px;
  text-align:right;
}

#roomname-header h2{
  margin: 0px;
  padding-left: 15px;
}

.wrapper {
  min-height: 100%;
  padding-top: 20%;
}

div.chat-space  {
  padding-top: 30px;
}

div.chat-space h2 {
  text-align:center;
}

div.chat-space ul {
  list-style: none;
}

div.chat-space li{
  margin-bottom: 1%;
}

#user {
  font-weight: 600;
}

#postdt {
  font-size:80%;
  margin-left:10px;
}

#chatText {
  font-size:110%;
}

#logout {
  text-align: right;
}