div.logout-link{
  text-align: right;
  color: #FFFFFF;
}

div.logout-link a:visited {
  text-align: right;
  color: #FFFFFF;
}

body {
  background-color:#330033;
  margin: 0;
  height: 100%;
}

#midashi-create-new-room{
  font-size: 130%;
  text-align: center;
  line-height:0.5;
  color: #FFFFFF;
}

div.create-new-chatroom{
  position: relative;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  padding-bottom: 0.1em;
}

form.creat-form{
    text-align: center;
}

div.all-rooms {
  margin: 0 auto;
  font-weight: bold;
  color:#FFFFFF;
}

#top-header {
  text-align: center;
  margin-bottom: 0px;
}

div.withdrawal-link {
  text-align: right;
  color: #FFFFFF;
}

div.withdrawal-link a:visited {
  text-align: center;
  color: #FFFFFF;
}

#room-link {
  color: #FFFFFF;
}

#left-tab {
  float:left;
  overflow-x: scroll;
  overflow-y: scroll;
  height: 100vh;
  width:30%;
  resize:horizontal;
}

#iframeBlock {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

div.chatspace{
  width: 100%;
  float:right;
}