body {
  background-color:#000033;
  margin: 0;
  height: 100%;
}

#left-tab {
  float:left;
  height: 100vh;
  overflow-x: scroll;
  overflow-y: scroll;
  resize:horizontal;
  width:30%;
}

div.logout-link {
  text-align: right;
}

div.logout-link a{
  color: #FFFFFF;
}

div.logout-link a:visited {
  color: #FFFFFF;
}

div.withdrawal-link {
  text-align: right;
}

div.withdrawal-link a{
  color: #FFFFFF;
}

div.withdrawal-link a:visited {
  color: #FFFFFF;
}

#title-create-new-room{
  color: #FFFFFF;
  font-size: 130%;
  line-height:0.5;
  text-align: center;
}

div.create-new-chatroom{
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  padding-bottom: 0.1em;
  position: relative;
  width: 250px;
}

form.creat-form{
    text-align: center;
}

div.all-rooms {
  color:#FFFFFF;
  font-weight: bold;
  margin: 0 auto;
}

#top-header {
  margin-bottom: 0px;
  text-align: center;
}


#room-link {
  color: #FFFFFF;
}

#iframeBlock {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

div.chatspace{
  background-color: #EEFFFF;
  float:right;
  width: 100%;
}