<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/public/css/login.css">
  <title>ログイン画面</title>
</head>
<body>
  <div class="container">
    <form class="login-form" action="" method="POST" id="loginform" onsubmit="return loginFunc()">
      <p id="userId"><input type="text" id="inputedUserId" name="userId" placeholder="ユーザーID"></p>
      <p id="password"><input type="password" id="inputedPassword" name="password" placeholder="パスワード"></p>
      <p><input type="submit" value="ログイン" id="login" name="login"></p>
    </form>
    <p id="resistration"><a href="resistration">新規登録はこちら</a></p>
  </div>
  <script type="text/javascript" src="/public/scripts/login.js"></script>
</body>
</html>

