<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>登録フォーム</title>
</head>
<body>
  <div class="container">
  <form class="resister-form" action="" method="post">
    <p></p>
    <p>新規ユーザーID</p>
    <p>(英数字、10文字以内)</p>
    <p><input type="text" id="userId" name="userId"></p>
    <p>新規パスワード</p>
    <p>(英数字、10文字以内)</p>
    <p><input type="password" id="password" name="password"></p>
    <p><input type="submit" id="login" name="login" value="登録"></p>
  </form>
  <p id="resistration"><a href="/login">ログイン画面に戻る</a></p>
  </div>
</body>
</html>

<style>
  body {background-color:#330033;}
  
  div.container{
    background-color:#FFFFFF;
    position: relative;
    width: 250px;
    margin-top: 15%;
    margin-bottom: 25%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    padding-bottom: 0.5em;
  }
  
  form.resister-form {
    text-align: center;
    line-height:0.5;
  }
  
  #resistration{
    text-align: center;
  }
  </style>