<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/public/css/resistration.css">
    <title>登録フォーム</title>
</head>
<body>
  <div class="container">
  <form class="resister-form" action="" method="post">
    <p></p>
    <p>新規ユーザーID</p>
    <p>(10文字以内)</p>
    <p><input type="text" id="userId" name="userId"></p>
    <p>新規パスワード</p>
    <p>(英数字、10文字以内)</p>
    <p><input type="password" id="password" name="password"></p>
    <p>※次の記号は使用できません。</p>
    <p>（&#x3F、&#x24、&amp;、&#x3D、&#x2D、&gt;、&lt;、&#x2B、&#x3B、&#x3A、&#x2A、&#x7C、&#x27）</p>
    <p><input type="submit" id="login" name="login" value="登録"></p>
  </form>
  <p id="login-link"><a href="/login">ログイン画面に戻る</a></p>
  </div>
</body>
</html>