<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/public/css/withdrawal.css">
  <title>退会ページ</title>
</head>
<body>
  <div class="container">
    <form class="withdrawal-form" action="" method="POST" onsubmit="return withdrawalFunc()">
      <p><input type="text" id="userId" name="userId" placeholder="ユーザーID"></p>
      <p><input type="text" id="password" name="password" placeholder="パスワード"></p>
      <p><input type="submit" id="withdrawal" name="withdrawal" value="退会"></p>
    </form>
  </div>
  <script>
    function withdrawalFunc(){
      let userId = document.getElementById("userId").value;
      let password = document.getElementById("password").value;

      if (userId == "" && password == "") {
        window.alert("ユーザーID・パスワードが入力されていません");
        return false;
      } else if (userId == "") {
        window.alert("ユーザーIDが入力されていません");
        return false;
      } else if (password == "") {
        window.alert("パスワードが入力されていません");
        return false;
      }

      if(window.confirm("本当に退会処理を実行してよろしいですか？")){
        this.form.submit();
      } else {
        window.alert("退会をキャンセルしました");
        return false;
      };
    };
  </script>
</body>
</html>